@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body
{
    margin: 0;
}

header 
{
    background-color: grey;
    h1, a
    {
        font-family: quicksand;
        padding-top: 10px;
        margin-left:20px;
        color: #FFB366;
        text-decoration: none;
    }
}
